.table{
    width: 120px;
    height: 70px;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    background-color: #87CEFA;
    margin-left: 70px;
}

.table__active{
    width: 120px;
    height: 70px;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    background-color: #000080;
    margin-left: 70px;
}
